@import 'tailwindcss';

@theme {
  --color-primary: #1173d4;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --font-family-display: var(--font-inter), sans-serif;
  --spacing-header-height: 57px;
}
